streamlit
#opencv-python-headless
pandas
numpy==1.21.6
pillow
pyarrow 
torch==1.13.1                  
torchvision==0.14.1 
#python-csv
huggingface_hub
yt_dlp
lapx>=0.5.2
timm==0.8.13.dev0
ultralytics #==8.0.124
#!apt-get install -y libgl1-mesa-dev
#!apt-get install -y libglib2.0-0
opencv-python==4.8.1.78
